<!DOCTYPE html>
<html lang="fr">
<head>
  <title>i am title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">

  <link rel="stylesheet"  href="app.component.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap" />


</head>
<body>

<div class="header-haut-et-bas">
  <div class="header-frame-haut">
    <div class="header">
    </div>
    <div class="separator-line">
    </div>
    <div class="contact-phone">
      <b class="h30-18h30-du-lundi-container">
          					<span class="h30-18h30-du-lundi-container1">
            						<p class="p">           01 71 63 15 00</p>
            						<p class="h30-18h30-du-lundi">(8h30-18h30 du lundi au vendredi)</p>
          					</span>
      </b>
      <b class="livraison-2472h">Livraison 24/72h</b>
    </div>
    <img class="icon-camion-blanc" alt="" src="assets/icon/Icon-camion-blanc.svg">

    <div class="header-frame-haut-child">
    </div>
    <div class="header-frame-haut-child">
    </div>
    <img class="icon-phone-blanc" alt="" src="assets/icon/Icon-phone-blanc.svg">

    <div class="header-frame-haut-inner">
    </div>
  </div>
  <div class="header-frame-bas">
    <img class="icon-camion-blanc1" alt="" src="assets/icon/Icon-camion-blanc.svg">

    <img class="icon-phone-blanc1" alt="" src="assets/icon/Icon-phone-blanc.svg">

    <img class="icon-close-noir" alt="" src="assets/icon/Icon-close-noir.svg">

    <div class="contact-phone1">
      <b class="nos-produits">Nos produits</b>
      <img class="logo-packdiscount-icon" alt="" src="assets/icon/logo-packdiscount.png">

    </div>
    <div class="frame-barre-de-recherche">
        <input class=" barre-de-recherche-parent rechercher-un-produit" type="text"  placeholder="Rechercher un produit ou une référence" >
    </div>
    <div class="commande-par-rfrence-parent">
      <b class="commande-par-rfrence">Commande par référence</b>
      <img class="icon-cmd-par-reference" alt="" src="assets/icon/Icon-cmd-par-reference.png">

      <div class="frame-child">
      </div>
    </div>
  </div>
</div>
      <app-display-content></app-display-content>

<app-user-list></app-user-list>
<app-propertybinding-etinterpolation></app-propertybinding-etinterpolation>
<app-directives></app-directives>
<app-service></app-service>

<app-navbar></app-navbar>


</body>
</html>
